---
title: Italian Recipes
layout: base.njk
---

<h2>Experiment with tradition</h2>
<p>Italian recipes are a delightful celebration of fresh ingredients and time-honored traditions. From the aromatic
    herbs of basil and oregano to the rich flavors of tomatoes and garlic, each dish tells a story of regional diversity and
    culinary passion. Classic recipes like pasta al pomodoro, risotto, and tiramisu showcase the simplicity and elegance of
    Italian cuisine, where quality ingredients shine through. Whether it's a hearty ragù simmering on the stovetop or a
    light caprese salad bursting with flavor, Italian cooking emphasizes the joy of sharing meals with loved ones, making
    every gathering a feast for the senses.
</p>
<ul>
    <h2>Lunch</h2>
    {# Loop through the posts collection and print the titles with links #}
    {% for lunch in collections.lunch %}
        <li>
            <a href="{{ lunch.url }}">
                <h3>{{ lunch.data.title }}</h3>
            </a>
            <p>{{ lunch.data.tags }}</p>
            <img src="{{ lunch.data.image }}" alt=" {{ title }}"></li>
        {% endfor %}
    </ul>
    <ul>
        <h2>Dinner</h2>
        {# Loop through the posts collection and print the titles with links #}
        {% for dinner in collections.dinner %}
            <li>
                <a href="{{ dinner.url }}">
                    <h3>{{ dinner.data.title }}</h3>
                </a>
                <p>{{ dinner.data.tags }}</p>
                <img src="{{ dinner.data.image }}" alt=" {{ title }}"></li>
            {% endfor %}
        </ul>