---
title: Italian Recipes
layout: base.njk
---

<h2>Experiment with tradition</h2>
<p>Italian recipes are a delightful celebration of fresh ingredients and time-honored traditions. From the aromatic herbs of basil and oregano to the rich flavors of tomatoes and garlic, each dish tells a story of regional diversity and culinary passion. Classic recipes like pasta al pomodoro, risotto, and tiramisu showcase the simplicity and elegance of Italian cuisine, where quality ingredients shine through. Whether it's a hearty ragù simmering on the stovetop or a light caprese salad bursting with flavor, Italian cooking emphasizes the joy of sharing meals with loved ones, making every gathering a feast for the senses.
</p>
<li><a href="/recipes/recipe-1" class="{% if page.url == '/' %}active-page{% endif %}">Spaghetti alla Carbonara</a></li>
    <li><a href="/recipes/recipe-2" class="{% if page.url == '/' %}active-page{% endif %}">Classic Lasagna</a></li>
    <li><a href="/recipes/recipe-3" class="{% if page.url == '/' %}active-page{% endif %}">Pizza</a></li>
