<footer>
    <section class="logo-social">
        <img src="/assets/images/logo.png" class="logo">
        <div class="social-icons">
            <a href="#" class="icon youtube"></a>
            <a href="#" class="icon twitter"></a>
            <a href="#" class="icon instagram"></a>
            <a href="#" class="icon linkedin"></a>
        </div>
    </section>
    <section class="footer-links">
        <div>
            <h3>Explore</h3>
            <a href="#">Project 9</a>
            <a href="#">Founders</a>
            <a href="#">All recipes</a>
        </div>
        <div>
            <h3>Legal</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookies</a>
            <p>2024 © Project 9</p>
        </div>
    </section>
</footer>