<nav>
  <ul>
    <li><a href="/" class="{% if page.url == '/' %}active-page{% endif %}">Home</a></li>
    <li><a href="/about" class="{% if page.url == '/' %}active-page{% endif %}">About</a></li>
    <li><a href="/recipes/recipe-1" class="{% if page.url == '/' %}active-page{% endif %}">Spaghetti alla Carbonara</a></li>
    <li><a href="/recipes/recipe-2" class="{% if page.url == '/' %}active-page{% endif %}">Classic Lasagna</a></li>
    <li><a href="/recipes/recipe-3" class="{% if page.url == '/' %}active-page{% endif %}">Pizza</a></li>
  </ul>
</nav>