<nav class="nav">
  <a href="/index"><img src="/assets/images/logo.png" alt="Project 9 logo" class="logo"></a>
  <ul class="nav-right">
    <li><a href="/about/" class="{% if page.url == '/about/' %}active-page{% endif %}">about</a></li>
    <li><a href="/chefs/" class="{% if page.url == '/' %}active-page{% endif %}">chefs</a></li>
    <li><a href="/all-recipes/" class="{% if page.url == '/' %}active-page{% endif %}">all recipes</a></li>
  <button>become an editor</button>
  </ul>
</nav>